POSTGRES_DATABASE_NAME=order_service
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password

POSTGRES_CONNECTION_STRING=postgresql+asyncpg://postgres:password@localhost:5432/order_service

API_TOKEN=your-token

CATALOG_BASE_URL=url
PAYMENT_BASE_URL=url
PAYMENT_CALLBACK_URL=url

KAFKA_BOOTSTRAP_SERVERS=url
KAFKA_ORDER_EVENTS_TOPIC=events
KAFKA_SHIPMENT_EVENTS_TOPIC=shipment
KAFKA_CONSUMER_GROUP=service
