POSTGRES_DATABASE_NAME=order_service
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password

POSTGRES_CONNECTION_STRING=postgresql+asyncpg://postgres:password@localhost:5432/order_service

API_TOKEN=your-token

CATALOG_BASE_URL=url
